form{
    display: grid;
    max-width: 200px;
    gap: 20px;
    padding: 0 40px 40px 40px;
    font: var(--bodyFont);
}
form .formGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form label{
    min-width: 150px;
}
form input, form select{
    font:inherit;
    padding:5px 10px;
    width:100%;
}
form input[type=submit]{
    font: var(--btnFont);
    background: var(--primary1);
    color: var(--secondaryColor2);
    border: 0;
    border-radius: var(--borderRadius);
    padding:10px;
}