.booking{
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.booking img{
    width: 100%;
    object-fit: cover;
}
h2{
    font: var(--headerFont);
    color: var(--secondaryColor);
    padding: 40px;
}