#about{
    display: flex;
    justify-content: space-between;
    padding: var(--default-padding);
    margin-bottom: 30vh;
    flex-direction: column;
}


#about .content h3{
    font: var(--headerFont);
    color: var(--primary2);
}
#about .content h4{
    font: var(--subHeaderFont);
    color: var(--secondaryColor2);
}
#about .content p{
    font: var(--bodyFont);
    color: var(--secondaryColor2);
    margin: 20px 0;
}
#about .photos img{
    object-fit: cover;
    width: 100%;
}



