.confirm{
    padding: var(--default-padding);
    margin-bottom:150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.confirm .msg{
    font:var(--headerFont);
    color: var(--primary2);
    background-color: #f4fffb;
    padding: 20px;
    border-radius: var(--borderRadius);
    width:100%;
}
.confirm a{
    font: var(--btnFont);
    background: var(--primary1);
    color: var(--secondaryColor2);
    border: 0;
    border-radius: var(--borderRadius);
    padding:10px;
    text-decoration: none;
}