footer{
    grid-column: -1/1;
    background-color: var(--primary2);
    color: var(--secondaryColor1);
    padding: var(--default-padding);
    
}
footer>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    list-style: none;
}
footer a{
    text-decoration: none;
}
footer img{
    object-fit: cover;
    height: 40px;
}
footer section:last-of-type ul{
    display: flex;
    flex-direction: column;
}
@media only screen  and  (max-width:420px){
    footer>div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
    footer img {
        object-fit: cover;
        height: 40px;
    }
    footer section{
        text-align: center;
    }
}