#reserve{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary2);
    padding: var(--default-padding);
    margin-bottom: 5vw;
    align-items: center;
}
#reserve .content h3{
    font: var(--headerFont);
    color: var(--primary1);
}
#reserve .content h4{
    font: var(--subHeaderFont);
    color: var(--secondaryColor1);
}
#reserve a.reserve{
    font: var(--btnFont);
    color: var(--secondaryColor2);
    border-radius: var(--borderRadius);
    background-color: var(--primary1);
    padding: 10px 20px;
    border: 0;
    margin: 10px 0;
    text-decoration: none;
}
#reserve .content p{
    font: var(--bodyFont);
    color: var(--secondaryColor1);
    max-width: 80%;
    margin: 20px 0;
}
#reserve figure{
    position: relative;
}
#reserve .food{
    height: 25vh;
    object-fit: cover;
    border-radius: var(--borderRadius);
    width: 15vw;
    min-width: 200px;
}
@media only screen  and  (max-width:420px){
    #reserve figure{
        display: none;
    }
    #reserve .content p{
        max-width: 100%;
    }
    
}