nav{
    grid-column: 2 / 3;
    font: var(--bodyFont);
    color: var(--secondaryColor);
    font-size: var(--bodyFontSize);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
nav button{
    background: transparent;
    border: 0;
    outline: 0;
    display: none;
}
@media only screen  and  (max-width:420px){
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;  
    }
    nav button{
        display: block;
        align-self: flex-end;
    }
    nav ul{
        display: none;
    }
    nav ul.clicked{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: absolute;
        background: var(--primary1);
        top: 120px;
        width: 100%;
        right: 0;
        font: var(--headerFont);
        justify-content: flex-start;
        align-items: self-start;
        gap: 30px;
        width: 100%;
        z-index: 1;
    }
    nav ul.clicked li{
        width: 100%;
        padding: 0 20px;
    }
}